{{- define "admin_panel" }}
<html lang="pl-PL">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
</head>
<body>
    <header>
        <h1>Admin Panel</h1>
        <a class="common-button" href="/admin/panel">Panel</a>
        <a class="common-button" href="/home">Recipes</a>
        <a class="create-recipe-button" href="/admin/create-recipe">Create Recipe</a>
        <a class="logout-button" href="/admin/logout">Logout</a>
    </header>
<main>
    <h2>Dashboard</h2>
</main>
</body>
</html>
{{- end }}
